.banner {
    height: 110px;
    margin: auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
  }
  .img-banner {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
    transform: translateY(-25%);
    filter: brightness(80%);
  
  }
  .texte-banner {
    width: 100%;
    padding: 0 15px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    font-size: 24px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
  }
  .img-banner{
    border-radius: 10px;
  }
  @media (min-width: 768px) {
    .banner {
      height: 225px;
      border-radius: 10px;
    }
    .texte-banner {
      padding: 0 5%;
      text-align: center;
      font-size: 48px;
      
    }
    
  }

  @media (max-width: 768px) {
    .banner {
      height: 225px;
      border-radius: 10px;
    }
    .texte-banner {
      top: 20%;
      padding: 0 5%;
      text-align: center;
      font-size: 20px;
      
    }

  }