.card{
    width: 300px;
}
@media all and (max-width: 684px) {
    .card {
       margin-top: 20px;
        margin-right:auto;
        margin-left:auto;
    }}
.card img{
    object-fit: cover;
   
    width: 300px;
    height: 300px;
    border-radius: 10px;
    cursor: pointer;
}
.card:hover{
    filter: grayscale(100%);
}

.card div{

   
   margin-left: 10px;
    margin-top: -70px;
    bottom: 5px;

    color: #FFFFFF;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}